In [8]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
from brobrain.llms.local.embedding import OllamaEmbedding

In [15]:
embedding = OllamaEmbedding(model="bge-m3")

In [16]:
texts = ["Hey", "ha"]
vectors = embedding.run(texts)

In [25]:
from brobrain.llms.local.llm import OllamaLlama

llm = OllamaLlama(model="mrasif/llama3.2:1b")

In [28]:
response = llm.run("Helpful assistant", [dict(role="user", content="Show me basic sql in codeblock")])
print(response.content)

Here's a simple "Hello World" example of SQL in code:

```sql
-- Create a database
CREATE DATABASE mydb;

-- Use the database
USE mydb;

-- Create a table
CREATE TABLE users (
  id INT PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(255),
  email VARCHAR(255) UNIQUE
);

-- Insert some data into the table
INSERT INTO users (name, email)
VALUES ('John Doe', 'john.doe@example.com'),
       ('Jane Smith', 'jane.smith@example.com');

-- Select all rows from the table
SELECT * FROM users;

-- Update a row in the table
UPDATE users
SET name = 'Jen Doe'
WHERE id = 1;

-- Delete a row from the table
DELETE FROM users
WHERE email = 'john.doe@example.com';

-- Close the connection to the database
QUIT;
```

This is a basic SQL example with the following features:

* Creating a new database and using it
* Creating a table with columns (id, name, email)
* Inserting data into the table
* Selecting all rows from the table
* Updating a row in the table
* Deleting a row from the table

Please note that this is just an example and not suitable for production use without proper testing and validation.