In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from brobrain.models.conversation import Conversation
from brobrain.models.episode import Episode

In [3]:
from brobrain.llms.local.embedding import OllamaEmbedding

In [4]:
embedding = OllamaEmbedding(model="bge-m3")

In [5]:
texts = ["Hey", "ha"]
vectors = embedding.run(texts)

In [6]:
from brobrain.llms.local.llm import OllamaLlama, OllamaOpenAI

model_name = "mrasif/llama3.2:1b"
llm = OllamaLlama(model=model_name)
# llm = OllamaOpenAI(model="gpt-oss:20b")

In [7]:
import time
content = "Hello there!"
response = llm.run("Helpful assistant", [dict(role="user", content=content)])

user_convo = Conversation(content=content, model=model_name, session_id="test")
time.sleep(1)
ai_convo = Conversation(**response.model_dump())

In [8]:
print(response.content)

Hello! How can I assist you today? Is there something on your mind that you'd like to talk about, or are you just looking for some friendly conversation?

In [9]:
response.model_dump().keys()

dict_keys(['id', 'model', 'content', 'executed_time_ms', 'input_token', 'output_token', 'created_at', 'updated_at', 'role', 'contexts', 'artifacts', 'session_id'])

In [10]:
response.contexts, response.artifacts, response.executed_time_ms, response.input_token, response.output_token

(None, None, 1893.9870000176597, 0, 0)

In [11]:
response.model, response.role

('mrasif/llama3.2:1b', <RoleType.ASSISTANT: 'assistant'>)

In [12]:
from brobrain.memories.conversation import DuckConversation

dc = DuckConversation()

In [13]:
dc.create(user_convo)
import time
time.sleep(1)

In [14]:
dc.create(ai_convo)

   Count
0      1

In [15]:
dc.execute("SELECT * FROM conversations;")

,id,model,content,role,executed_time_ms,input_token,output_token,contexts,artifacts,session_id,created_at,updated_at
0,b6b04e10-12c8-400d-b9c3-90932fb54089,mrasif/llama3.2:1b,Hello there!,user,0.000,0,0,None,None,test,2025-11-15 23:29:27.021398,2025-11-15 23:29:27.021398
1,55016e84-7a7f-41fc-ac5a-b3a8d7612076,mrasif/llama3.2:1b,Hello! How can I assist you today? Is there so...,assistant,1893.987,0,0,None,None,None,2025-11-15 23:29:27.021398,2025-11-15 23:29:27.021398

In [16]:
dc.read(id=response.id)

[Conversation(id='55016e84-7a7f-41fc-ac5a-b3a8d7612076', model='mrasif/llama3.2:1b', content="Hello! How can I assist you today? Is there something on your mind that you'd like to talk about, or are you just looking for some friendly conversation?", executed_time_ms=1893.9870000176597, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 453386, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 453386, tzinfo=datetime.timezone.utc), role=<RoleType.ASSISTANT: 'assistant'>, contexts=None, artifacts=None, session_id=None)]

In [17]:
dc.update(id=response.id, session_id="test")

   Count
0      1

In [18]:
dc.read(session_id="test", as_model=True)

[Conversation(id='b6b04e10-12c8-400d-b9c3-90932fb54089', model='mrasif/llama3.2:1b', content='Hello there!', executed_time_ms=0.0, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 515364, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 515364, tzinfo=datetime.timezone.utc), role=<RoleType.USER: 'user'>, contexts=None, artifacts=None, session_id='test'),
 Conversation(id='55016e84-7a7f-41fc-ac5a-b3a8d7612076', model='mrasif/llama3.2:1b', content="Hello! How can I assist you today? Is there something on your mind that you'd like to talk about, or are you just looking for some friendly conversation?", executed_time_ms=1893.9870000176597, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 516364, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 516364, tzinfo=datetime.timezone.utc), role=<RoleType.ASSISTANT: 'assistant'>, contexts=None, artifacts=None, session_id='test')]

In [19]:
# dc.delete(session_id="test")

In [20]:
dc.read(as_model=True)

[Conversation(id='b6b04e10-12c8-400d-b9c3-90932fb54089', model='mrasif/llama3.2:1b', content='Hello there!', executed_time_ms=0.0, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 550631, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 550631, tzinfo=datetime.timezone.utc), role=<RoleType.USER: 'user'>, contexts=None, artifacts=None, session_id='test'),
 Conversation(id='55016e84-7a7f-41fc-ac5a-b3a8d7612076', model='mrasif/llama3.2:1b', content="Hello! How can I assist you today? Is there something on your mind that you'd like to talk about, or are you just looking for some friendly conversation?", executed_time_ms=1893.9870000176597, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 550631, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 550631, tzinfo=datetime.timezone.utc), role=<RoleType.ASSISTANT: 'assistant'>, contexts=None, artifacts=None, session_id='test')]

In [21]:
dc.read()

[Conversation(id='b6b04e10-12c8-400d-b9c3-90932fb54089', model='mrasif/llama3.2:1b', content='Hello there!', executed_time_ms=0.0, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 574833, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 574833, tzinfo=datetime.timezone.utc), role=<RoleType.USER: 'user'>, contexts=None, artifacts=None, session_id='test'),
 Conversation(id='55016e84-7a7f-41fc-ac5a-b3a8d7612076', model='mrasif/llama3.2:1b', content="Hello! How can I assist you today? Is there something on your mind that you'd like to talk about, or are you just looking for some friendly conversation?", executed_time_ms=1893.9870000176597, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 574833, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 574833, tzinfo=datetime.timezone.utc), role=<RoleType.ASSISTANT: 'assistant'>, contexts=None, artifacts=None, session_id='test')]

In [22]:
dc.read(limit=2)

[Conversation(id='b6b04e10-12c8-400d-b9c3-90932fb54089', model='mrasif/llama3.2:1b', content='Hello there!', executed_time_ms=0.0, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 604380, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 604380, tzinfo=datetime.timezone.utc), role=<RoleType.USER: 'user'>, contexts=None, artifacts=None, session_id='test'),
 Conversation(id='55016e84-7a7f-41fc-ac5a-b3a8d7612076', model='mrasif/llama3.2:1b', content="Hello! How can I assist you today? Is there something on your mind that you'd like to talk about, or are you just looking for some friendly conversation?", executed_time_ms=1893.9870000176597, input_token=0, output_token=0, created_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 604380, tzinfo=datetime.timezone.utc), updated_at=datetime.datetime(2025, 11, 15, 16, 29, 29, 604380, tzinfo=datetime.timezone.utc), role=<RoleType.ASSISTANT: 'assistant'>, contexts=None, artifacts=None, session_id='test')]

In [23]:
len(vectors.embeddings[0])

1024

In [24]:
from brobrain.memories.episode import DuckEpisode

de = DuckEpisode(vector_size=len(vectors.embeddings[0]))

In [25]:
episode = Episode(
    content=content,
    model=model_name,
    conversation_ids=[user_convo.id, ai_convo.id],
    session_id="test",
    vector=vectors.embeddings[0]
)

In [26]:
de.execute("DESCRIBE episodes;")

         column_name  column_type null   key            default extra
0                 id      VARCHAR   NO   PRI               None  None
1              model      VARCHAR   NO  None               None  None
2            content      VARCHAR   NO  None               None  None
3   executed_time_ms       DOUBLE  YES  None                  0  None
4        input_token      INTEGER  YES  None                  0  None
5       output_token      INTEGER  YES  None                  0  None
6             vector  FLOAT[1024]  YES  None               None  None
7   conversation_ids         JSON   NO  None               None  None
8        episode_ids         JSON  YES  None               NULL  None
9         session_id      VARCHAR  YES  None               NULL  None
10             level      VARCHAR  YES  None    'conversations'  None
11        created_at    TIMESTAMP  YES  None  CURRENT_TIMESTAMP  None
12        updated_at    TIMESTAMP  YES  None  CURRENT_TIMESTAMP  None

In [27]:
de.create(episode)

   Count
0      1

In [28]:
de.execute("SELECT * FROM episodes;")

,id,model,content,executed_time_ms,input_token,output_token,vector,conversation_ids,episode_ids,session_id,level,created_at,updated_at
0,824c213e-2b04-4d05-9c6a-c7dd8a8718ef,mrasif/llama3.2:1b,Hello there!,0.0,0,0,"[-0.049026217, 0.021939479, -0.025798185, 0.01...","[""b6b04e10-12c8-400d-b9c3-90932fb54089"",""55016...",None,test,conversations,2025-11-15 23:29:29.663994,2025-11-15 23:29:29.663994